@model AttendanceManagementSystem.Models.ClientInfoStatus
@{
    ViewBag.Title = "ZionMaster";

    var chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ123456789";
    var stringChars = new char[20];
    var random = new Random();

    for (int i = 0; i < stringChars.Length; i++)
    {
        stringChars[i] = chars[random.Next(chars.Length)];
    }
    var finalString = new String(stringChars);

    var Accesstype = AttendanceManagementSystem.Controllers.ZionController.Accesstype(User.Identity.Name);
}

<br />
<body class="background-White" style="background-color:white">
    <input type="text" value="@finalString" id="controlnumbergenerated" style="display:none">
    <div class="widget-body" style="background-color:white">

        <div class="col-sm-12">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                    <li class="active">
                        <a data-toggle="tab" href="#members" style="color: black">
                            <i class="blue ace-icon fa fa-users bigger-110"></i>
                            MEMBERS
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#positionholder" style="color: black">
                            <i class="blue ace-icon fa fa-users bigger-110"></i>
                            POSITION HOLDER
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#grouname" style="color: black">
                            <i class="blue ace-icon fa fa-users bigger-110"></i>
                            GROUP NAME
                        </a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div id="positionholder" class="tab-pane">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="widget-box widget-color-blue3">
                                    <div class="widget-header">
                                        <div class="widget-title">
                                            POSITION HOLDER LIST
                                            <div class="widget-toolbar">
                                                <div class="pull-center">
                                                    <a class="btn btn-xs btn-primary no-hover" data-toggle="modal" data-target="#AddPositionHolderModal">
                                                        <span class="bigger-110">Add Position Holder</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="mastersPositionHolderTable" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="center" style="color: black; background-color: cornflowerblue" hidden>Ref No.</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">Full Name</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">Life Number</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">Position</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody class="mastersPositionHolderTableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="grouname" class="tab-pane">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="widget-box widget-color-blue3">
                                    <div class="widget-header">
                                        <div class="widget-title">
                                            GROUP NAME LIST
                                            <div class="widget-toolbar">
                                                <div class="pull-center">
                                                    <a class="btn btn-xs btn-primary no-hover" data-toggle="modal" data-target="#AddGroupNameModal">
                                                        <span class="bigger-110">Add Group Name</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="mastersGroupNameTable" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="center" style="color: black; background-color: cornflowerblue" hidden>Ref No.</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">Group Name</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">Leader Name</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">Total Member</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            @{
                                                var GetListOfGroupName = AttendanceManagementSystem.Controllers.ZionController.GetListOfGroupName();
                                                foreach (var groupname in GetListOfGroupName)
                                                {
                                                    var GetFullnameUsingIDno = AttendanceManagementSystem.Controllers.ZionController.GetFullnameUsingGencode(groupname.leader_gencode);
                                                    <tr class="position-static">
                                                        <td style="text-align: center" hidden>@groupname.id</td>
                                                        <td style="text-align: center">@groupname.group_name</td>
                                                        <td style="text-align: center">@GetFullnameUsingIDno</td>
                                                        <td style="text-align: center">@groupname.total_members</td>
                                                        <td style="text-align: center">
                                                            <button class="btn btn-info editGroupNameBtn" type="button"
                                                                    data-toggle="modal" data-target="#EditGroupNameModal"
                                                                    id="@groupname.gencode">
                                                                <i class="fa fa-edit"></i> Edit Members
                                                            </button>
                                                            @if (Accesstype == "1")
                                                            {
                                                                <button class="btn btn-danger deleteGroupNameBtn" type="button"
                                                                        id="@groupname.id">
                                                                    <i class="fa fa-edit"></i> Delete Group
                                                                </button>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="members" class="tab-pane in active">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="widget-box widget-color-blue3">
                                    <div class="widget-header">
                                        <div class="widget-title">
                                            MEMBER LIST
                                            <div class="widget-toolbar">
                                                <div class="pull-center">
                                                    <a class="btn btn-xs btn-primary no-hover" data-toggle="modal" data-target="#AddMemberModal">
                                                        <span class="bigger-110">Add Members</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="mastersBrotherTable" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="center" hidden></th>
                                                <th class="center" style="color: black; background-color:cornflowerblue">Full Name</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">Life Number.</th>
                                                <th class="center" style="color: black; background-color: cornflowerblue">ACTION STATUS</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            @{
                                                var ParcelListFromWarehouse = AttendanceManagementSystem.Controllers.ZionController.GetListOfMembers();
                                                foreach (var par in ParcelListFromWarehouse)
                                                {
                                                    // Split life_number by '-'
                                                    var parts = par.life_number?.Split('-');
                                                    string maskedLifeNumber = par.life_number;

                                                    if (parts != null && parts.Length == 3)
                                                    {
                                                        // Replace middle part with asterisks of the same length
                                                        maskedLifeNumber = $"{parts[0]}-{new string('*', parts[1].Length)}-{parts[2]}";
                                                    }

                                                    <tr class="position-static">
                                                        <td style="text-align: center" hidden>@par.id</td>
                                                        <td style="text-align: center">@par.full_name</td>
                                                        <td style="text-align: center">@maskedLifeNumber</td>
                                                        <td style="text-align: center">
                                                            <button class="btn btn-success viewMembersUingID"
                                                                    type="button"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#ViewMemberModal"
                                                                    data-id="@par.id"
                                                                    data-name="@par.full_name"
                                                                    data-life="@maskedLifeNumber"
                                                                    data-gender="@par.gender">
                                                                <i class="fa fa-eye"></i> View
                                                            </button>

                                                            @if (Accesstype == "1")
                                                            {
                                                                <button class="btn btn-info getMembersUingID" type="button"
                                                                        data-bs-toggle="modal" data-bs-target="#EditMemberModal"
                                                                        id="@par.id*@par.full_name*@par.life_number*@par.gender">
                                                                    <i class="fa fa-edit"></i> Edit
                                                                </button>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                    <!--Modal Add Member-->
                                    <div class="modal fade" id="AddMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" style="text-align:left" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h5 class="modal-title" id="exampleModalLabel">Add Member</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="FormBrothers" method="post">
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Full Name <label style="color: red">*</label>:</label>
                                                            <input type="text" class="form-control" id="AddFirstName" autocomplete="off" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Life Number <label style="color: red">*</label>:</label>
                                                            <input type="text" class="form-control" id="AddNumber" autocomplete="off" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Gender <label style="color: red">*</label>:</label>
                                                            <input type="text" class="form-control" id="AddGender" autocomplete="off" />
                                                        </div>
                                                    </form>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary no-hover" id="SaveBrother">SAVE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Modal Edit Member-->
                                    <div class="modal fade" id="EditMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-warning">
                                                    <button type="button" style="text-align:left" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit Member</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group" style="display:none">
                                                            <label for="recipient-name" class="col-form-label">ID :</label>
                                                            <input type="text" class="form-control" id="EditIDMenber" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Full Name :</label>
                                                            <input type="text" class="form-control" id="EditFuleName" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Life Number :</label>
                                                            <input type="text" class="form-control" id="EditLifeNumber" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Gender :</label>
                                                            <input type="text" class="form-control" id="EditGender" />
                                                        </div>
                                                    </form>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary no-hover" id="BtnUpdateMember">SAVE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Modal View Member-->
                                    <div class="modal fade" id="ViewMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-success">
                                                    <button type="button" style="text-align:left" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h5 class="modal-title" id="exampleModalLabel">View Member</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group" style="display:none">
                                                            <label for="recipient-name" class="col-form-label">ID :</label>
                                                            <input type="text" class="form-control" id="ViewIDMenber" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Full Name :</label>
                                                            <input type="text" class="form-control" id="ViewFuleName" readonly="readonly" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Life Number :</label>
                                                            <input type="text" class="form-control" id="ViewLifeNumber" readonly="readonly" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Gender :</label>
                                                            <input type="text" class="form-control" id="ViewGender" readonly="readonly" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Modal Edit Brother-->
                                <div class="modal fade" id="EditBrotherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-warning">
                                                <button type="button" style="text-align:left" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h5 class="modal-title" id="exampleModalLabel">Edit Member</h5>
                                            </div>
                                            <div class="modal-body">
                                                <form id="FormBrothers" method="post">
                                                    <div class="form-group" style="display:none">
                                                        <label for="recipient-name" class="col-form-label">ID <label style="color: red">*</label>:</label>
                                                        <input type="text" class="form-control" id="EditBrotherId" autocomplete="off" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">First Name <label style="color: red">*</label>:</label>
                                                        <input type="text" class="form-control" id="EditFirstName" autocomplete="off" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">Life Number <label style="color: red">*</label>:</label>
                                                        <input type="text" class="form-control" id="EditNumber" autocomplete="off" />
                                                    </div>
                                                </form>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary no-hover" id="saveChangesBrother">SAVE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Modal Add POSITION HOLDER-->
            <div class="modal fade" id="AddPositionHolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" style="text-align:left" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">Add Position Holder</h5>
                        </div>
                        <div class="modal-body">
                            <form id="FormPositionHolder" method="post">
                                <div class="form-group" style="display:none">
                                    <label for="recipient-name" class="col-form-label">ID <label style="color: red">*</label>:</label>
                                    <input type="text" class="form-control" id="AddPositionHolderID" autocomplete="off" />
                                </div>
                                <div class="form-group" style="display:none">
                                    <label for="recipient-name" class="col-form-label">Full Name <label style="color: red">*</label>:</label>
                                    <input type="text" class="form-control" id="AddPositionHolderFullName" autocomplete="off" />
                                </div>

                                <div class="form-group">
                                    <label for="form-field-select-3">Name <label style="color: red">*</label>:</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.company_name, new SelectList(ViewBag.members, "Value", "Text"), "---Select Members---", new { @class = "form-control chosen-select", id = "AddMemberfullname", style = "color: black; width:100%" })
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Life Number <label style="color: red">*</label>:</label>
                                    <input type="text" class="form-control" id="AddPositionLifeNumber" readonly="readonly" />
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Position <label style="color: red">*</label>:</label>
                                    <input type="text" class="form-control" id="AddPosition" autocomplete="off" />
                                </div>

                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary no-hover" id="SavePositionHolder">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal Edit POSITION HOLDER-->
            <div class="modal fade" id="EditPositionHolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" style="text-align:left" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">EDIT POSITION</h5>
                        </div>
                        <div class="modal-body">
                            <form id="EditFormGoal" method="post">
                                <div class="form-group" style="display:none">
                                    <label for="recipient-name" class="col-form-label">ID :</label>
                                    <input type="text" class="form-control" id="EditPositionHolderId" autocomplete="off" />
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Position :</label>
                                    <input type="text" class="form-control" id="EditPosition" autocomplete="off" />
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary no-hover" id="saveChangesPositionHolder">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal View POSITION HOLDER-->
            <div class="modal fade" id="ViewPositionHolderModal" tabindex="-1" aria-labelledby="ViewMemberLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-success text-white">
                            <h5 class="modal-title" id="ViewMemberLabel">View Position Holder</h5>
                            <button type="button" style="text-align:left" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group" style="display:none">
                                    <label>ID :</label>
                                    <input type="text" class="form-control" id="ViewIDMenberPositionHolder" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Full Name :</label>
                                    <input type="text" class="form-control" id="ViewFuleNamePositionHolder" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Life Number :</label>
                                    <input type="text" class="form-control" id="ViewLifeNumberPositionHolder" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Position :</label>
                                    <input type="text" class="form-control" id="ViewPosition" readonly>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal Create GROUP NAME-->
            <div class="modal fade" id="AddGroupNameModal" tabindex="-1" role="dialog" aria-labelledby="AddGroupNameLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document" style="width:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="AddGroupNameLabel">Add Group Name</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <!-- Left side: Form -->
                                <div class="col-md-4">
                                    <form id="AddGroupNameForm" method="post">
                                        <div class="form-group">
                                            <label for="AddGroupName" class="col-form-label">Group Name <span style="color:red">*</span>:</label>
                                            <input type="text" class="form-control" id="AddGroupName" autocomplete="off" />
                                        </div>
                                        <div class="form-group">
                                            <label for="AddLeaderfullname">Leader <span style="color: red">*</span>:</label>
                                            <br>
                                            @Html.DropDownListFor(
                                              model => model.company_name,
                                              new SelectList(ViewBag.leader, "Value", "Text"),
                                              "---Select Members---",
                                              new { @class = "form-control chosen-select", id = "AddLeaderfullname", style = "color: black; width:100%" }
                                            )
                                        </div>
                                        <div class="form-group">
                                            <label for="AddLeaderID" class="col-form-label">Life Number :</label>
                                            <input type="text" class="form-control" id="AddLifeNumber" readonly="readonly" />
                                        </div>
                                        <div class="form-group">
                                            <label for="AddLeaderID" class="col-form-label">Total Members :</label>
                                            <input type="text" class="form-control" id="AddTotalNumber" readonly="readonly" />
                                        </div>
                                        <div class="form-group" style="display:none">
                                            <label for="AddLeaderID" class="col-form-label">Generated Code :</label>
                                            <input type="text" class="form-control" id="AddLeaderGencode" autocomplete="off" />
                                        </div>
                                    </form>
                                </div>

                                <!-- Right side: Table of members -->
                                <div class="col-md-8">
                                    <div class="table-responsive scrollable-table" style="max-height: 600px; overflow-y: auto;">
                                        LIST OF MEMBER
                                        <table class="table fs--1 mb-0" id="CheckMembersTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Check</th>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Life Number</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var GetListOfMembers = AttendanceManagementSystem.Controllers.ZionController.GetListOfMembers();
                                                    foreach (var parc in GetListOfMembers)
                                                    {
                                                        <tr class="position-static">
                                                            <td>
                                                                <input class="form-check-input createmembers" type="checkbox" value="@parc.generatedcode" id="@parc.generatedcode" name="@parc.generatedcode" />
                                                            </td>
                                                            <td>@parc.full_name</td>
                                                            <td>@parc.life_number</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end .row -->
                        </div> <!-- end .modal-body -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary no-hover" id="saveBtnGroupName">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal Edit GROUP NAME-->
            <div class="modal fade" id="EditGroupNameModal" tabindex="-1" role="dialog" aria-labelledby="AddGroupNameLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="AddGroupNameLabel">Edit Members</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <!-- Right side: Table of members -->
                                <div class="col-md-12">
                                    <div class="table-responsive scrollable-table" style="max-height: 600px; overflow-y: auto;">
                                        LIST OF MEMBER
                                        <div class="form-group">
                                            <input type="text" id="memberSearchInput" class="form-control" placeholder="Search member by name or life number...">
                                        </div>

                                        <table class="table fs--1 mb-0" id="GroupNameMembersTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Life Number</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end .row -->
                        </div> <!-- end .modal-body -->
                    </div>
                </div>
            </div>
        </div>
        </div>


</body>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

<script>

    $(document).ready(function () {
        //delete group name
        $(document).on('click', '.deleteGroupNameBtn', function () {
            var id = $(this).attr('id');
            var row = $(this).closest('tr');

            Swal.fire({
                title: 'Are you sure?',
                text: "This will mark the group as deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Zion/DeleteGroupName',
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Deleted!',
                                    text: response.message,
                                    timer: 1500,
                                    showConfirmButton: false
                                });
                                row.fadeOut(300, function () {
                                    $(this).remove();
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Failed!',
                                    text: response.message
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: 'Failed to delete the group. Please try again.'
                            });
                        }
                    });
                }
            });
        });

        //Remove Members in Group Name
        $(document).on('click', '.editGroupNameBtn', function () {
            var gencode = $(this).attr('id');
            $.ajax({
                url: '/Zion/GetGroupMembersByGroup',
                type: 'GET',
                data: { gencode: gencode },
                dataType: 'json',
                success: function (data) {
                    var table = $('#GroupNameMembersTable tbody');
                    table.empty();

                    if (data.length > 0) {
                        $.each(data, function (index, item) {
                            var row = `
                                <tr>
                                    <td class="text-center">${item.full_name || ''}</td>
                                    <td class="text-center">${item.life_number || ''}</td>
                                    <td class="text-center">
                                         <button class="btn btn-sm btn-danger removeMemberBtn" data-id="${item.id}">
                                            <i class="fa fa-trash"></i> Remove
                                        </button>
                                    </td>
                                </tr>`;
                            table.append(row);
                        });
                    } else {
                        table.append('<tr><td colspan="3" class="text-center text-danger">No members found.</td></tr>');
                    }

                    // Show the modal
                    $('#EditGroupNameModal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error loading group members:', error);
                    alert('Failed to load group members.');
                }
            });
        });

        // Simple search filter for table
        $('#memberSearchInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('#GroupNameMembersTable tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        //Remove button
        $(document).on('click', '.removeMemberBtn', function () {
            var id = $(this).data('id');
            var row = $(this).closest('tr');

            // SweetAlert2 confirmation dialog
            Swal.fire({
                title: 'Are you sure?',
                text: "You are about to remove this member from the group.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Zion/RemoveGroupMember',
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                // Remove the row visually
                                row.fadeOut(300, function () {
                                    $(this).remove();
                                });

                                Swal.fire({
                                    title: 'Removed!',
                                    text: response.message,
                                    icon: 'success',
                                    confirmButtonColor: '#3085d6'
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: response.message,
                                    icon: 'error',
                                    confirmButtonColor: '#3085d6'
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error removing member:', error);
                            Swal.fire({
                                title: 'Failed!',
                                text: 'An error occurred while removing the member.',
                                icon: 'error',
                                confirmButtonColor: '#3085d6'
                            });
                        }
                    });
                }
            });
        });

        //Get Member List Using ID
        $(".getMembersUingID").click(function () {
            var editmemberID = this.id;
            var spl = editmemberID.split('*');
            var memberID = spl[0];
            var memberFuleName = spl[1];
            var memberLifenumber = spl[2];
            var memberGender = spl[3];

            $("#EditMemberModal").modal('show');

            $("#EditIDMenber").val(memberID);
            $("#EditFuleName").val(memberFuleName);
            $("#EditLifeNumber").val(memberLifenumber);
            $("#EditGender").val(memberGender);
        });

        $(document).on("click", ".viewMembersUingID", function () {
            var id = $(this).data("id");
            var name = $(this).data("name");
            var life = $(this).data("life");
            var gender = $(this).data("gender");

            $("#ViewMemberModal").modal('show');

            $("#ViewIDMenber").val(id);
            $("#ViewFuleName").val(name);
            $("#ViewLifeNumber").val(life);
            $("#ViewGender").val(gender);
        });

        $('#AddMemberfullname').on('change', function () {
            var selectedValue = $(this).val(); // e.g. "123*LN45678"

            if (selectedValue) {
                var parts = selectedValue.split('*');
                $('#AddPositionHolderID').val(parts[0]);        // id
                $('#AddPositionLifeNumber').val(parts[1]);      // life number
                $('#AddPositionHolderFullName').val(parts[2]);      // Full Name
            } else {
                $('#AddPositionHolderID').val('');
                $('#AddPositionLifeNumber').val('');
                $('#AddPositionHolderFullName').val('');
            }
        });

        $('#AddLeaderfullname').on('change', function () {
            var selectedValue = $(this).val(); // e.g. "123*LN45678"

            if (selectedValue) {
                var parts = selectedValue.split('*');
                $('#AddLeaderGencode').val(parts[0]);
                $('#AddLifeNumber').val(parts[1]);
            } else {
                $('#AddLeaderGencode').val('');
                $('#AddLifeNumber').val('');
            }
        });

        // Initialize DataTables
        $("#mastersBrotherTable").DataTable();
        // Initialize DataTables
        $("#mastersGroupNameTable").DataTable();

        $("#DateActivity").datetimepicker().next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        //Save Brothers
        $("#SaveBrother").click(function () {
            var addF = $("#AddFirstName").val();
            var addNo = $("#AddNumber").val();
            var AddGender = $("#AddGender").val();
            var addGencode = $("#controlnumbergenerated").val();
            if (addF != "" && addNo != "") {
                var url = "/Zion/Save_Brothers";
                $.post(url, {
                    AddF: addF,
                    AddNo: addNo,
                    gender: AddGender,
                    AddGencode: addGencode
                }, function (data) {
                    // Check if success is true or false
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Brother Successfully Saved!',
                            text: data.message
                        }).then(function () {
                            // Optional: Reload the page or reset the form after success
                            location.reload();
                            $("#FormBrothers")[0].reset();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.message
                        });
                    }
                }, "json"); // Ensure the response is treated as JSON
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Requred all details.'
                });
            }
        });

        //Save Position Holder
        $("#SavePositionHolder").click(function () {
            var AddPositionHolderID = $("#AddPositionHolderID").val();
            var AddMemberfullname = $("#AddPositionHolderFullName").val();
            var AddPositionLifeNumber = $("#AddPositionLifeNumber").val();
            var AddPosition = $("#AddPosition").val();
            var AddGeneratedCode = $("#controlnumbergenerated").val();
            if (AddMemberfullname != "" && AddPosition != "") {
                var url = "/Zion/Save_PositionHolder";
                $.post(url, {
                    addPositionHolderID: AddPositionHolderID,
                    addMemberfullname: AddMemberfullname,
                    addPositionLifeNumber: AddPositionLifeNumber,
                    addPosition: AddPosition,
                    addGeneratedCode: AddGeneratedCode
                }, function (data) {
                    // Check if success is true or false
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Position Holder Successfully Saved!',
                            text: data.message
                        }).then(function () {
                            // Optional: Reload the page or reset the form after success
                            location.reload();
                            $("#FormPositionHolder")[0].reset();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.message
                        });
                    }
                }, "json"); // Ensure the response is treated as JSON
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Requred all details.'
                });
            }
        });

        let selectedProducts = new Set();
        // DataTable
        const table = $('#CheckMembersTable').DataTable({
            language: { paginate: { previous: '', next: '' } },
            paging: true,
            pageLength: 5,
            info: false,
            lengthChange: true
        });
        // Track checkbox changes
        $('#CheckMembersTable').on('change', '.createmembers', function () {
            const memberCode = $(this).val(); // use value instead of id
            if ($(this).is(':checked')) {
                selectedProducts.add(memberCode);
            } else {
                selectedProducts.delete(memberCode);
            }
            $("#AddTotalNumber").val(selectedProducts.size);
        });

        // Save button
        $("#saveBtnGroupName").click(async function () {
            const members = Array.from(selectedProducts);

            if (members.length === 0) {
                Swal.fire({ icon: 'error', title: 'Oops...', text: 'Please select at least 1 member.' });
                return;
            }

            const generatedcode = $("#controlnumbergenerated").val()?.trim();
            const AddGroupName = $("#AddGroupName").val()?.trim();
            const AddLeaderGencode = $("#AddLeaderGencode").val()?.trim();
            const AddTotalNumber = $("#AddTotalNumber").val()?.trim();

            if (!AddGroupName || !AddLeaderGencode) {
                Swal.fire({ icon: 'error', title: 'Oops...', text: 'Please fill in all required fields.' });
                return;
            }

            try {
                // Save Group Name first
                const data1 = await $.ajax({
                    type: 'POST',
                    url: '/Zion/Save_GroupName',
                    data: {
                        addGeneratedCode: generatedcode,
                        addGroupName: AddGroupName,
                        addLeaderID: AddLeaderGencode,
                        addTotalNumber: AddTotalNumber
                    },
                    dataType: 'json'
                });

                if (data1?.success !== true) {
                    Swal.fire({ icon: 'error', title: 'Failed', text: data1?.message || 'Group save failed.' });
                    return;
                }

                // Save each selected member
                for (const memberCode of members) {
                    await $.post('/Zion/SaveGroup', {
                        groupgeneratedcode: generatedcode,
                        groupgencode: memberCode
                    });
                }

                await Swal.fire({
                    icon: 'success',
                    title: 'Group successfully saved!',
                    text: 'Click OK to reload the page.',
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    confirmButtonText: 'OK'
                });

                location.reload();

            } catch (err) {
                console.error('An error occurred:', err);
                Swal.fire({ icon: 'error', title: 'Error', text: 'Something went wrong while saving. Please try again.' });
            }
        });

        // Call the API to get Position Holder
        $.ajax({
            url: "/Zion/GetPositionHolder",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var table = $("#mastersPositionHolderTable tbody");
                table.empty();

                $.each(data, function (index, position) {
                    // ✅ Mask the middle part of life_number
                    var maskedLifeNumber = position.life_number;
                    if (maskedLifeNumber && maskedLifeNumber.includes("-")) {
                        var parts = maskedLifeNumber.split("-");
                        if (parts.length === 3) {
                            parts[1] = "*".repeat(parts[1].length);
                            maskedLifeNumber = parts.join("-");
                        }
                    }

                    // ✅ Build the table row with Edit + View buttons
                    table.append(`
                <tr>
                    <td hidden>${position.id}</td>
                    <td class="center">${position.full_name}</td>
                    <td class="center">${maskedLifeNumber}</td>
                    <td class="center">${position.position}</td>
                    <td class="center">
                        <button class="viewPositionHolderBtn btn btn-success"
                            data-id="${position.id}"
                            data-name="${position.full_name}"
                            data-life="${maskedLifeNumber}"
                            data-position="${position.position}">
                            <i class="fa fa-eye"></i> View
                        </button>
                        <button class="editPositionHolderBtn btn btn-info"
                            data-id="${position.id}"
                            data-name="${position.full_name}"
                            data-life="${maskedLifeNumber}"
                            data-gender="${position.gender || ''}"
                            data-position="${position.position}">
                            <i class="fa fa-edit"></i> Edit Position
                        </button>
                    </td>
                </tr>
            `);
                });

                // ✅ Reinitialize DataTable safely
                if ($.fn.DataTable.isDataTable("#mastersPositionHolderTable")) {
                    $("#mastersPositionHolderTable").DataTable().destroy();
                }
                $("#mastersPositionHolderTable").DataTable();

                // ✅ View button click → opens view-only modal
                $("#mastersPositionHolderTable").on("click", ".viewPositionHolderBtn", function () {
                    var id = $(this).data("id");
                    var name = $(this).data("name");
                    var life = $(this).data("life");
                    var position = $(this).data("position");

                    // Fill in your View modal fields
                    $("#ViewIDMenberPositionHolder").val(id);
                    $("#ViewFuleNamePositionHolder").val(name);
                    $("#ViewLifeNumberPositionHolder").val(life);
                    $("#ViewPosition").val(position);

                    // Show the View modal
                    $("#ViewPositionHolderModal").modal("show");
                });

                // ✅ Edit button click → opens edit modal
                $("#mastersPositionHolderTable").off("click", ".editPositionHolderBtn").on("click", ".editPositionHolderBtn", function () {
                    var id = $(this).data("id");
                    var name = $(this).data("name");
                    var life = $(this).data("life");
                    var gender = $(this).data("gender");
                    var position = $(this).data("position");

                    $("#ViewIDMenber").val(id);
                    $("#ViewFuleName").val(name);
                    $("#ViewLifeNumber").val(life);
                    $("#ViewGender").val(gender);
                    $("#EditPositionHolderId").val(id);
                    $("#EditPosition").val(position);

                    $("#EditPositionHolderModal").modal("show");
                });

                // ✅ Save changes button
                $("#saveChangesPositionHolder").off("click").on("click", function () {
                    var updatedpositionholder = {
                        id: $("#EditPositionHolderId").val(),
                        position: $("#EditPosition").val(),
                    };

                    $.ajax({
                        url: "/Zion/UpdatePositionHolder",
                        method: "POST",
                        data: updatedpositionholder,
                        success: function () {
                            Swal.fire(
                                'Position updated successfully!',
                                'Please click the button!',
                                'success'
                            ).then(function () {
                                location.reload();
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error("Error updating position:", error);
                        }
                    });
                });
            },
            error: function (xhr, status, error) {
                console.error("Error fetching data:", error);
            }
        });

        //after click add or edit in turnover checklist.. dapat naka view ra japon sa kana nga tab
        if (location.hash) {
            $("a[href='" + location.hash + "']").tab("show");
        }
        $(document.body).on("click", "a[data-toggle='tab']", function (event) {
            location.hash = this.getAttribute("href");
        });
    }); //end from document.ready

    //kani sumpay sa open tab after load sa page.
    $(window).on("popstate", function () {
        var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
        $("a[href='" + anchor + "']").tab("show");
    });

</script>
}